$footer-height: 50px;
$body-margin: 0 0 100px;
$min-height: 100%;

/***************************************************************************************************************
This is where we add colors that are not defined in the Intel MLAF.
***************************************************************************************************************/
$lighter-gray: #dadada;
$pale-gray: #f9f9f9;
$deep-gray:#e3e3e3;
$placeholder: #d1d1d1;
$text-color: #0054ae;
$text-color-secondary: #2b2c30;
$delete-color: #ce0000;
$table-secondary-color: #2b2c3005;
$table-outline: #2b2c301f;
$btn-border-color: #e2e2e4;
$form-control-border: #c9cace;
$form-label-color: #6a6d75;
$text-color-red : red;
$text-color-green : green;
$text-color-orange : orange;

