<footer class="row justify-content-between align-content-center" id="footer">
    <div class="col-auto">
      <div class="float-start" id="environment">
        env: {{environmentName}}
      </div>
      <div class="float-start">
        <a href="https://employeecontent.intel.com/content/corp/Global_Employee_and_Global_Contingent_Worker_Privacy.html"
          target="_blank">Employee/Contingent Worker Privacy</a>
      </div>
    </div>
    <div class="col-auto float-end">
      &copy;Intel Corporation
    </div>
  </footer>